<mat-horizontal-stepper linear labelPosition="bottom" style="background-color: rgba(255, 255, 255, 0.6); min-height: 400px;">
  <mat-step [completed]="viewModel.ageGroupType != undefined">
    <div class="stepper-item">
      <h1>How old are you?</h1>
      <mat-form-field>
        <mat-select placeholder="Select your age group" [(ngModel)]="this.viewModel.ageGroupType" [(value)]="this.viewModel.ageGroupType" (selectionChange)="ageGroupTypeChanged();">
          <mat-option [value]="AgeGroupTypes.UnderFive">{{AgeGroupTypes.UnderFive}}</mat-option>
          <mat-option [value]="AgeGroupTypes.FiveToNine">{{AgeGroupTypes.FiveToNine}}</mat-option>
          <mat-option [value]="AgeGroupTypes.TenToFourteen">{{AgeGroupTypes.TenToFourteen}}</mat-option>
          <mat-option [value]="AgeGroupTypes.FifteenToNineteen">{{AgeGroupTypes.FifteenToNineteen}}</mat-option>
          <mat-option [value]="AgeGroupTypes.TwentyToTwentyfour">{{AgeGroupTypes.TwentyToTwentyfour}}</mat-option>
          <mat-option [value]="AgeGroupTypes.TwentyfiveToTwentynine">{{AgeGroupTypes.TwentyfiveToTwentynine}}</mat-option>
          <mat-option [value]="AgeGroupTypes.ThirtyToThityFour">{{AgeGroupTypes.ThirtyToThityFour}}</mat-option>
          <mat-option [value]="AgeGroupTypes.ThirtyFiveToThirtynine">{{AgeGroupTypes.ThirtyFiveToThirtynine}}</mat-option>
          <mat-option [value]="AgeGroupTypes.FortyToFortyfour">{{AgeGroupTypes.FortyToFortyfour}}</mat-option>
          <mat-option [value]="AgeGroupTypes.FortyfiveToFortynine">{{AgeGroupTypes.FortyfiveToFortynine}}</mat-option>
          <mat-option [value]="AgeGroupTypes.FiftyToFiftyfour">{{AgeGroupTypes.FiftyToFiftyfour}}</mat-option>
          <mat-option [value]="AgeGroupTypes.FiftyfiveToFiftynine">{{AgeGroupTypes.FiftyfiveToFiftynine}}</mat-option>
          <mat-option [value]="AgeGroupTypes.SixtyToSixtyfour">{{AgeGroupTypes.SixtyToSixtyfour}}</mat-option>
          <mat-option [value]="AgeGroupTypes.SixtyfiveToSixtynine">{{AgeGroupTypes.SixtyfiveToSixtynine}}</mat-option>
          <mat-option [value]="AgeGroupTypes.SeventyToSeventyfour">{{AgeGroupTypes.SeventyToSeventyfour}}</mat-option>
          <mat-option [value]="AgeGroupTypes.SeventyfiveToSeventynine">{{AgeGroupTypes.SeventyfiveToSeventynine}}</mat-option>
          <mat-option [value]="AgeGroupTypes.EightyToEightyfour">{{AgeGroupTypes.EightyToEightyfour}}</mat-option>
          <mat-option [value]="AgeGroupTypes.OverEightyfour">{{AgeGroupTypes.OverEightyfour}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <ul style="list-style-type: none; padding: 0px; margin: 0px;">
        <li *ngFor="let disease of this.viewModel.topDiseases | slice:0:5">
          <div style="text-align: center; margin-top: 30px;">
            <mat-progress-bar mode="determinate" [value]="disease.probability" style="width:50%; height: 30px; margin: 0 auto;"></mat-progress-bar>
            <h3><strong>{{disease.probability | number : '1.0-2'}}%</strong> of people in your category are suffering from {{disease.title}}</h3>
          </div>
        </li>
      </ul>
    </div>
    <div style="float:right;" *ngIf="viewModel.ageGroupType != undefined">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [completed]="viewModel.genderType != undefined">
    <div class=" stepper-item">
      <h1>What is your gender?</h1>
      <div style="margin-top: 5%;">
        <button mat-raised-button style="margin-right: 10%;" [color]="viewModel.genderType == GenderGroupTypes.Male ? 'primary' : 'white'" (click)="genderButtonClicked(GenderGroupTypes.Male);">Male</button>
        <button mat-raised-button [color]="viewModel.genderType == GenderGroupTypes.Female ? 'primary' : 'white'" (click)="genderButtonClicked(GenderGroupTypes.Female);">Female</button>
      </div>
    </div>
    <div>
      <ul style="list-style-type: none; padding: 0px; margin: 0px;">
        <li *ngFor="let disease of this.viewModel.topDiseases | slice:0:5">
          <div style="text-align: center; margin-top: 30px;">
            <mat-progress-bar mode="determinate" [value]="disease.probability" style="width:50%; height: 30px; margin: 0 auto;"></mat-progress-bar>
            <h3><strong>{{disease.probability | number : '1.0-2'}}%</strong> of people in your category are suffering from {{disease.title}}</h3>
          </div>
        </li>
      </ul>
    </div>
    <div style="justify-content: space-between; display: flex;" *ngIf="viewModel.ageGroupType != undefined">
      <button mat-button matStepperPrevious>Previous</button>
      <button mat-button matStepperNext *ngIf="viewModel.genderType != undefined">Next</button>
    </div>
  </mat-step>
  <mat-step [completed]="viewModel.ethnicityType != undefined">
    <div class="stepper-item">
      <h1>What's your ethnicity?</h1>
      <mat-form-field>
        <mat-select placeholder="Select your ethnicity" [(ngModel)]="viewModel.ethnicityType" [(value)]="viewModel.ethnicityType" (selectionChange)="ethnicityTypeChanged();">
          <mat-option [value]="EthnicityTypes.Maori">{{EthnicityTypes.Maori}}</mat-option>
          <mat-option [value]="EthnicityTypes.Pacific">{{EthnicityTypes.Pacific}}</mat-option>
          <mat-option [value]="EthnicityTypes.Asian">{{EthnicityTypes.Asian}}</mat-option>
          <mat-option [value]="EthnicityTypes.Other">{{EthnicityTypes.Other}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <ul style="list-style-type: none; padding: 0px; margin: 0px;">
        <li *ngFor="let disease of this.viewModel.topDiseases | slice:0:5">
          <div style="text-align: center; margin-top: 30px;">
            <mat-progress-bar mode="determinate" [value]="disease.probability" style="width:50%; height: 30px; margin: 0 auto;"></mat-progress-bar>
            <h3><strong>{{disease.probability | number : '1.0-2'}}%</strong> of people in your category are suffering from {{disease.title}}</h3>
          </div>
        </li>
      </ul>
    </div>
    <div style="text-align: center; padding: 40px 0;" *ngIf="viewModel.ethnicityType != undefined">
      <p>We can help and you are not alone. <strong>{{viewModel.ethniciityAgeAndGenderPopulation | number}} out of {{viewModel.totalEthnicityPopulation | number}}</strong> people from your ethnic group with similar age and gender are currently suffering from these listed mental diseases.</p>
    </div>
    <div style="justify-content: space-between; display: flex;" *ngIf="viewModel.ageGroupType != undefined">
      <button mat-button matStepperPrevious>Previous</button>
      <button mat-button matStepperNext *ngIf="viewModel.ethnicityType != undefined">Next</button>
    </div>
  </mat-step>
  <mat-step [completed]="viewModel.selectedSurveyType != undefined">
    <div class="stepper-item" style="margin-bottom: 30px;">
      <h1>Self estimation by taking a short survey</h1>
      <mat-form-field style="width: 70%">
        <mat-select placeholder="Select survey type" [(ngModel)]="viewModel.selectedSurveyType" [(value)]="viewModel.selectedSurveyType">
          <mat-option *ngFor=" let disease of viewModel.topDiseases | slice:0:5" [value]="disease.title">{{disease.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="viewModel.selectedSurveyType != undefined">
      <div style="display: flex; margin-top: 30px; margin: 0%;" *ngFor="let survey of viewModel.surveyQuestions">
        <div style="width: 70%;">
          <span>{{survey.question}}</span>
        </div>
        <div style="width:30%;">
          <mat-form-field style="float: right;">
            <mat-select [(ngModel)]="survey.answer" [(value)]="survey.answer">
              <mat-option [value]="SurveyAnswerTypes.NotAtAll">Not at all</mat-option>
              <mat-option [value]="SurveyAnswerTypes.SeveralDays">Several days</mat-option>
              <mat-option [value]="SurveyAnswerTypes.MoreThanHalfDays">More than half days</mat-option>
              <mat-option [value]="SurveyAnswerTypes.NearlyEveryDay">Nearly every day</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <span>reference: <a href="https://www.healthnavigator.org.nz/tools/p/patient-health-questionnaire-9-phq-9/#Overview">https://www.healthnavigator.org.nz/tools/p/patient-health-questionnaire-9-phq-9/#Overview</a></span>
      <div style="justify-content: space-between; display: flex; margin-top: 20px;">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-raised-button color="primary" *ngIf="viewModel.selectedSurveyType != undefined" matStepperNext (click)="estimateSurvey();">Estimate</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <div class="stepper-item">
      <h1 *ngIf="viewModel.surveyTotalScore < 10">You seems normal or might be experiencing a mild bout of sadness</h1>
      <h1 *ngIf="viewModel.surveyTotalScore >= 10 && viewModel.surveyTotalScore <= 14">You show some symptoms of mild depression.</h1>
      <h1 *ngIf="viewModel.surveyTotalScore >= 15 && viewModel.surveyTotalScore <= 19">You are in a moderate depression.</h1>
      <h1 *ngIf="viewModel.surveyTotalScore >= 20">You show severe level of deprssion.</h1>
      <p>
        <span *ngIf="viewModel.surveyTotalScore >= 10 && viewModel.surveyTotalScore <= 14">This could last for days and are noticeable enough to interfere with your usual activities</span>
        <span *ngIf="viewModel.surveyTotalScore >= 15 && viewModel.surveyTotalScore <= 19">This means you are in a low mood and being irritable most days.</span>
        <span *ngIf="viewModel.surveyTotalScore >= 20">This condition can impact your sleep habits, appetite, and ability to enjoy life.</span>
      </p>
      <br><br>
      <h2>You are not alone, we can help you to get better and live your life again. Please follow our suggested helplines</h2>
      <br><br>
      <h3><strong>Resources and Support for younng people</strong></h3>
      <p>
        <a href="https://www.sparx.org.nz/" class="ext"><strong>SPARX</strong><span class="ext" aria-label="(link is external)"></span></a> &nbsp;
        <a href="https://thelowdown.co.nz/" class="ext"><strong>The Lowdown</strong><span class="ext" aria-label="(link is external)"></span></a> &nbsp;
        <a href="https://www.auntydee.co.nz/" class="ext"><strong>Aunty Dee</strong><span class="ext" aria-label="(link is external)"></span></a> &nbsp;
        <a href="https://www.youthline.co.nz/" class="ext"><strong>Youthline</strong><span class="ext" aria-label="(link is external)"></span></a> &nbsp;
        <a href="http://www.whatsup.co.nz/" class="ext"><strong>What's Up</strong>&nbsp;<span class="ext" aria-label="(link is external)"></span></a> &nbsp;

      </p>
      <br>
      <h3><strong>Resources and Support for all ages</strong></h3>
      <p>
        <a href="http://www.depression.org.nz" class="ext"><strong>Depression.org.nz</strong><span class="ext" aria-label="(link is external)"></span></a>&nbsp;
        <a href="https://www.likeminds.org.nz/" class="ext"><strong>Like Minds, Like Mine</strong><span class="ext" aria-label="(link is external)"></span></a> &nbsp;
      </p>
      <br>
      <a href="/your-health/services-and-support/health-care-services/mental-health-services/crisis-assessment-teams"><strong>Mental health crisis services</strong></a>
    </div>
  </mat-step>

</mat-horizontal-stepper>
